body {
  background-color: #eee;
  padding-top: 1rem;
}

.masonry.grid {
  display: block;
}

.ui.masonry.grid .column {
  width: 100% !important;
}

@media only screen and (min-width: 768px) {
  .masonry.grid {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 992px) {
  .masonry.grid {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (min-width: 1200px) {
  .masonry.grid {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}